*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif,'Poppins';

}

html{
  scroll-behavior: smooth;
}

.contanier{
 height: 100vh;
 width: 100%;
 position: relative;
background-image: url(image/background.png);
 display: flex;
 justify-content: center;
 align-items: center;

}


.contanier #box{
    height: 86vh;
    width: 75%;
    position: relative;
    padding: 0 20px;
    background-color: rgba(255,255,255,0.1);
    z-index: 1;
    border:2px solid rgba(255,255,255,0.7);
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10,10,10,0.15);
    
}
.contanier::after{
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    background: #c1d9fb;
    transform:translate(490px,150px);
    border-radius: 50%;

}

 .contanier #box nav{
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 15px auto;
    padding: 20px;

   
}

.contanier #box nav ul li{
   display: inline-block;
   padding: 0 20px;
  
 

}
.contanier #box nav ul li a{
    color: #242329;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    transition: 0.5s;
  
}

.contanier #box nav ul li a:hover{
    color: #7c8db1



}
nav .logo {
  
       max-width: 120px;
        cursor: pointer;
        margin-top: 50px ;
        margin-left: 20px;
        }
    
        
.contanier #box .contains {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}
.contanier #box .contains .section-1{
    position: relative;
    width: 40%;
}
.contains .section-1 h1 {
    margin-top:20px;
    font-size: 50px;
    font-weight: bold;
    color: #242329;
}

.contains .section-1 h3{
    font-size: 24px;
    margin-top:20px;
    color: #6f34fe;
    margin-bottom: 40px;
}
 .btn {
   padding: 15px 20px;
   background-color: #6f34fe;
   border: 1px solid #6f34fe;
   color: #fff;
   border-radius: 5px;
   font-weight: 500;
   text-decoration: none;
   transition: 0.3s;
   
}
 .btn:hover{
    background-color: #fff;
    color: #6f34fe;
}


.contains .section-2{
    width: 50%;

}

.contains .section-2 img {
    width: 100%;
}

.contains .section-3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
  
 
}
.contains .section-3 a i{
  font-size: 25px;
  color: #7c8db1;
  transition: 0.3s;
}

.contains .section-3 a i:hover {
  color: #6f34fe;
}


/* About */

 #about {
  padding: 80px 10%;
    color: #242329;
    text-transform: capitalize;
    background: #c1d9fb;
 }

 .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .about-col-1 {
   flex-basis: 50%;
 }

 .about-col-1 img {
width: 100%;

  }
 

  .about-col-2 {
    flex-basis: 50%;
  
  
  }

  

  .sub-title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .tab-titles {
    display: flex;
    margin: 20px 0 40px;
  }
  .tab-links {
 
    font-size: 18px;
    margin-right: 50px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }
  .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #6f34fe;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
  }

  .tab-links.active-link::after{
    width: 50%;
  }

  .tab-contents ul li{
    list-style: none;
    margin: 10px 0;

  }

  .tab-contents ul li span{
  color: #6f34fe;
    font-size: 14px;
  }

  .tab-contents {
    display: none;
  }

  .tab-contents.active-tab {
    display: block;
  }
  /* ---------------------- */
  .continer-service{
    padding: 10px 10%;}
  #services {
    background:#D8F2FF;
    
    padding: 80px 0;

   
  }
  
  .services-list {
   display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    
    grid-gap:40px;
    margin-top: 50px;
 
  
  
  }
  .services-list div {
  background: #c1d9fb;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  transition: background 0.5s, transform 0.5s;
} 

.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;

}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;

}
.services-list div a{
  text-decoration: none;
  color: #6f34fe;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;

}

  .services-list div:hover{
    background-color: #7c8db1;
    transform: translateY(-10px);
  }
  
        
  
  /* .services h1{
    text-align: center;
    margin-bottom: 20px;
  } */


  /* -------------contact--------------- */
#contact {
  padding: 80px 10%;
    color: #242329;
    text-transform: capitalize;
    background: #c1d9fb;}

  
   
     
.contact-left {

  flex-basis: 35%;
}
.contact-right {

  flex-basis: 60%;
}


.contact-left p{

 margin-top: 30px;
}

.contact-left p i {
  color: #6f34fe;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  color: #6f34fe;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
transition: transform 0.5s;
}

.social-icons a:hover{
  color: #7c8db1;
}

.contact-right form {
  width: 100%;
}
form input,form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background:#D8F2FF;
  padding: 15px;
  margin: 15px 0;
  color:#242329;
  font-size: 18px;
  border-radius: 6px;
  text-align: center;

}
form btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: #D8F2FF;
  font-weight: 300px;
  padding: 20px;
}


/* ---------------css for small screens------------- */

@media only screen and (max-width:600px){
  .contanier{
   
  background-image: none;
  background-color:#D8F2FF;}
  nav{
    padding-left: 12rem;
  }
.contains {
  margin-top: 100%;
  font-size: 10px;
} 

.logo{
  margin-top: 20px;
  margin-left: -5px;
 
  width: 60px;}

.contains .section-1 h1 {
  font-size: 15px;
}

.contains .section-1 h3,h4 {
  font-size: 10px;
}
.btn {
  position: absolute;
  margin-top: 50px;
  padding: 10px 5px;

}
.contains .section-2 img {
  display: none;
}


nav .fa-solid{
  display: block;
  font-size:25px ;
} 

nav ul{
  background-color:#c1d9fb;
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 86vh;
  padding-top: 50px;
  padding-left: 15px;
}
/* .nav ul li{
  display: block;
  margin: 25px; */




nav  ul .fa-solid{
  position: absolute;
  top:25px;
  left:25px;
  cursor: pointer;
}

.sub-title{
  font-size: 40px;
  
}
.about-col-1, .about-col-2{
  flex-basis: 100%;
}
.about-col-1{
  margin-bottom: 30px;
}
.about-col-2{
  font-size: 14px;
}
.tab-links{
  font-size: 16px;
  margin-right: 20px;
}

.contact-left,.contact-right{
   flex-basis: 100%;
}

.copyright{
  font-size: 14px;
}